<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true" ng-controller="MyCtrl" >
    <div  class = "product bordLine list" ng-repeat="item in items | filter:friend.name :strict">
      <a href="#/tab/cate-detail/{{item.id-1}}" class=" item item-thumbnail-left ">
        <img class ="product_image" ng-src="{{ item.image }}">
        <div class="category">{{friend.name}}</div>
        <ul>
          <li class="productName">超级豪华全家桶</li>
          <li class="productDetail">Nine Inch   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo voluptates vel necessitatibus quos nisi illo recusandae quisquam, sapiente facere omnis, quaerat quidem quis libero ea consequatur suscipit ipsum, minus doloribus!</li>
          <li class="productDate">有效期：3天5小时</li>
        </ul>
      </a>
    </div>
  </ion-content>
</ion-view>
