<!DOCTYPE html>

<ion-view title="{{coupon.name}}">
    <ion-content has-header="true" padding="true">
        <div class="list card pink" >

            <div class="item item-avatar">
                <h2>{{coupon.productName}}</h2>
                <p>{{coupon.timeLimit}}</p>
                <div class="addToCart">
                    <button ng-class="favorites" ng-init = "favoriteClass()" ng-click = "changeClass()">{{favoritesText}}</button>
                </div>

            </div>

            <div class="item item-body">
                <img class="full-image" src="{{coupon.image}}">
                <p>
                    {{coupon.productDetail}}
                </p>
                <!-- <p>
                     <a href="#" class="subdued">1 Like</a>
                     <a href="#" class="subdued">5 Comments</a>
                 </p>-->
            </div>

            <!--<div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>-->

        </div>
    </ion-content>
</ion-view>